body {
    background: linear-gradient(135deg, #19042e, #41195a, #5b3988);
    color: #4d4d4d;
    font-family: 'Segoe UI', sans-serif;
    min-height: 100vh;
}

.navbar {
    background-color: #4b0082 !important;
    box-shadow: 0 0 15px #b47bffaa;
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: #d6b3ff !important;
    font-weight: 600;
    transition: color 0.3s;
}

.navbar .nav-link:hover {
    color: #ebb2ae;
}

.lead {
    color: #303030;
    font-weight: 500;
    text-shadow: 0 0 5px #b47bff88;
}

.btn-outline-morado {
    border: 2px solid #b47bff;
    color: #b47bff;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 0 5px #b47bff80;
}

.btn-outline-morado:hover {
    background-color: #b47bff;
    color: #5f5f5f;
    box-shadow: 0 0 12px #d1aaff;
}

h1, h2, h3 {
    background: linear-gradient(90deg, #d1aaff, #7e44ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card {
    background-color: rgba(75, 0, 130, 0.8);
    border: 2px solid #b47bff;
    box-shadow: 0 0 8px #b47bff88;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #d1aaffcc;
}
