{% extends "base.html" %}
{% load static %}
{% block extra_head %}
    <!-- CSS y jQuery específicos de esta página -->
    <link rel="stylesheet" href="{% static 'CSS/script.css' %}"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block content %}

<div class="container">

    <h1 class="text-center mb-4">Galería de memes</h1>

    <div class="galeria">
        <img id="img1" src="{% static 'img/6f9032204f80ae2c7b6fadc6c32613fd.jpg' %}" alt="Imagen 1" class="miniatura" />
        <img id="img2" src="{% static 'img/atm78bdhcnu71.png' %}" alt="Imagen 2" class="miniatura" />
        <img id="img3" src="{% static 'img/FaA6mr3UIAAidcM.jpeg' %}" alt="Imagen 3" class="miniatura" />
        <img id="img4" src="{% static 'img/FB_IMG_1664204187065.jpg' %}" alt="Imagen 4" class="miniatura" />
        <img id="img5" src="{% static 'img/FB_IMG_1671113187562.jpg' %}" alt="Imagen 5" class="miniatura" />
        <img id="img6" src="{% static 'img/FB_IMG_1672255691300.jpg' %}" alt="Imagen 6" class="miniatura" />
        <img id="img7" src="{% static 'img/FB_IMG_1690659722582.jpg' %}" alt="Imagen 7" class="miniatura" />
        <img id="img8" src="{% static 'img/FB_IMG_1694172120814.jpg' %}" alt="Imagen 8" class="miniatura" />
        <img id="img9" src="{% static 'img/FB_IMG_1694173110983.jpg' %}" alt="Imagen 9" class="miniatura" />
        <img id="img10" src="{% static 'img/FB_IMG_1716479606158.jpg' %}" alt="Imagen 10" class="miniatura" />
        <img id="img11" src="{% static 'img/FB_IMG_1724681782663.jpg' %}" alt="Imagen 11" class="miniatura" />
        <img id="img12" src="{% static 'img/FgR9X06X0AYSMHB.jpeg' %}" alt="Imagen 12" class="miniatura" />
        <img id="img13" src="{% static 'img/Fi7KLnYX0AAa-8_.png' %}" alt="Imagen 13" class="miniatura" />
        <img id="img14" src="{% static 'img/FmTTEsGXEAEu1N8.jpeg' %}" alt="Imagen 14" class="miniatura" />
        <img id="img15" src="{% static 'img/FrmlW4KWYAEzAQY.jpeg' %}" alt="Imagen 15" class="miniatura" />
        <img id="img16" src="{% static 'img/FWbH5tNXgAUjRVP.jpeg' %}" alt="Imagen 16" class="miniatura" />
        <img id="img17" src="{% static 'img/FwGNvWoWwAkIBkY.jpeg' %}" alt="Imagen 17" class="miniatura" />
        <img id="img18" src="{% static 'img/Gk0X4n6WMAEMdVP.jpeg' %}" alt="Imagen 18" class="miniatura" />
        <img id="img19" src="{% static 'img/GV29jmnWUAAq-aP.jpeg' %}" alt="Imagen 19" class="miniatura" />
        <img id="img20" src="{% static 'img/GXjDPuGWgAA8w-I.jpeg' %}" alt="Imagen 20" class="miniatura" />
        <img id="img21" src="{% static 'img/GYF65KSWUAA1IFi.jpeg' %}" alt="Imagen 21" class="miniatura" />
        <img id="img22" src="{% static 'img/image0.png' %}" alt="Imagen 22" class="miniatura" />
        <img id="img23" src="{% static 'img/maxresdefault.jpg' %}" alt="Imagen 23" class="miniatura" />
        <img id="img24" src="{% static 'img/OwnSticker_20240308_140815190.jpg' %}" alt="Imagen 24" class="miniatura" />
        <img id="img25" src="{% static 'img/Screenshot_20230307-142019_Instagram.jpg' %}" alt="Imagen 25" class="miniatura" />
        <img id="img26" src="{% static 'img/Screenshot_20240316_180514_SOSAFE.jpg' %}" alt="Imagen 26" class="miniatura" />
        <img id="img27" src="{% static 'img/starscream-in-his-miku-hatsune-vocaloid-room-v0-sz1y33sahgb91.jpg' %}" alt="Imagen 27" class="miniatura" />
        <img id="img28" src="{% static 'img/d47.jpg' %}" alt="Imagen 28" class="miniatura" />
    </div>
    
    <!-- Modal -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="cerrar">&times;</span>
            <img id="imagenGrande" src="" alt="Grande"/>
            <div class="navegacion">
                <button id="anterior">Anterior</button>
                <button id="siguiente">Siguiente</button>
            </div>
        </div>
    </div>


{% endblock %}

{% block extra_js %}
<script src="{% static 'JS/script.js' %}"></script>
{% endblock %}
